body {
    background:/*[color title='Background']*/#303030/*[/color]*/;
    color:/*[color title='Text']*/#999999/*[/color]*/;
    font:/*[font title='Font style']*/10px Arial/*[/font]*/;
    padding-top:50px;
}
#frame {
    background:/*[color title='Content background']*/#222222/*[/color]*/;
    width:950px;
    margin:0 auto;
    overflow:hidden;
    padding:20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
a { text-decoration:none; color:#fff; }
a:hover { text-decoration:underline; }
.blocks-container .region {
    margin-top:15px;
    background:#111;
    overflow:hidden;
}
.blocks-container .region h4.region-name { font-weight:bold; font-size:1.6em; margin-bottom:15px; display:block; }
.blocks-container .region h4.region-name span { color:#fff; }
a.rss-feed-icon { display:block; margin-top:20px; }
img.site-logo { display:block; margin-bottom:15px; }
h2.node-title, div.node-comments h2 { font-size:2em; color:#fff; margin-bottom:10px; }
div.node .meta { background:#222; margin-bottom:20px; }
div.node { background:#111; overflow:hidden; }
div.node div.field-container { margin-bottom:5px; }
div.node div.field-module-FieldText { margin-bottom:15px !important; }
div.node-comments { margin-top:50px; }
#comment-form { margin-top:50px; }
#comments-list { width:980px; overflow:hidden; }
#comments-list div.comment { overflow:hidden; border-bottom:1px solid #D3D4D6; border-top:1px solid #fff; padding:10px 0 20px 10px; }
#comments-list div.comment-first { border-top:none; }
#comments-list div.comment-last { border-bottom:none; }
#comments-list div.attribution { width:100px; float:left; }
#comments-list div.attribution div.submited div.avatar { border:2px solid #ccc; margin:0 auto; width:64px; height:64px; overflow:hidden; }
#comments-list div.attribution .submited div.avatar img { width:100%; }
#comments-list div.attribution .submited a.username { text-align:center; display:block; }
#comments-list div.attribution .submited p.comment-time span{ font-style:italic; }
#comments-list div.comment-text  { background:#fff; border:1px solid #ccc; width:800px; float:left; padding:10px; }
#comments-list div.comment-text h3 { font-size:16px; }
#comments-list div.comment-text blockquote { background:#F9F8F8;  }
#comments-list div.comment-text blockquote cite { background:url(../img/comment-quote.gif) center left no-repeat; padding-left:20px;  display:block; font-weight:bold; }
#comments-list .comment-actions { text-align:right; }
#comment-form form label { display:block; width:100px; font-weight:bold; font-size:15px; }
#comment-form form label { display:block; width:100px; }
#comment-form form div.input.text input { width:300px; }
#comment-form form div.input.textarea textarea { width:100%; }
div.node, .blocks-container .region, div.node .meta {
    padding:10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
div.paginator .disabled { display:none; }

/*[miscellaneous]*//**[/miscellaneous]/